@import './colors.scss';

.paginationContainer {
  display: flex;
  flex-grow: 0.13;
  list-style: none;
  padding: 0;
  justify-content: flex-start;
}

.itemPagination {
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  background-color: $white;
  color: $middleGrey;
  text-align: center;
  padding-top: 10px;
  margin: 0 5px 0 5px;
  & a {
    outline: none;
  }

  &:hover {
    background-color: $lightestRed;
    color: $white;
  }

  @media(max-width: 800px) {
    width: 28px;
    height: 28px;
    padding-top: 4px;
  }
}

.activeClassName {
  background-color: $red;
  color:$white;
  &:hover {
    background-color: $red;
  }
}